		@font-face {
			font-family: 'f37_gingerbold';
			src: url(fonts/f37-regular.eot);
			src: url(fonts/f37-regular.eot?#iefix) format('embedded-opentype'),
			url(fonts/f37-regular.woff) format('woff'),
			url(fonts/f37-regular.ttf) format('truetype'),
			url(fonts/f37-regular.svg#f37_gingerbold) format('svg');
			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: 'FontAwesome';
			src: url('fonts/fontawesome-webfont.eot');
			src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}


		body{
			margin:0;
			padding:0;
			overflow-y: hidden;
			overflow-x: hidden;
			font-family: 'f37_gingerbold', Helvetica;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;

		}



		#info {
			position: absolute;
		}

		#textwrapper {

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			display: -webkit-flex;
			-webkit-flex-direction: column;
			-webkit-justify-content: center;
			-webkit-align-items: center;


			width:100%;
			height: 100%;
			z-index:2;
			position: absolute;
			color:#333;
			text-align:center;
			pointer-events:none;

		}
		#text{
			width:50%;
		}
		@media (max-width: 800px) {
			#text{
				width:90%;
			}
		}
		
		.showing {
			opacity: 1;
		}

		#start {
			-webkit-transition: all 1s ease-in-out;
			-moz-transition: all 1s ease-in-out;
			-ms-transition: all 1s ease-in-out;
			-o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
			position: relative;
			top:0;
			font-size: 2em;
			display: none;
		}
		
		#start.hidden {
			opacity:0;
		}

		#text {
			-webkit-transition: opacity 2s;
			-moz-transition: opacity 2s;
			-ms-transition: opacity 2s;
			-o-transition: opacity 2s;
			transition: opacity 2s;
			opacity: 0;
		}
		
		#text.hidden {
			display:none;
		}
		
		#text h1 span{
			display: inline;
			/*background: white;*/
			font-size: .8em;
			font-weight:normal;
			padding:.3em 0;

			line-height: 1em;
			color: #515151;
			/*box-shadow: 10px 0 0 white, -10px 0 0 white;*/
			
		}


		@media (max-width: 600px) {
			h1 {
				font-size: 1.8em;
				line-height: 1em;
			}

			font-size: 1.8em;
			line-height: 0.7em;

		}


	}
	h1 {
		font-weight: normal;
	}

	#formcont {
		margin-top:1em;
		-webkit-transition: opacity 2s;
		-moz-transition: opacity 2s;
		-ms-transition: opacity 2s;
		-o-transition: opacity 2s;
		transition: opacity 2s;
		opacity:0;
	}

	.share{
		text-align: center;
		margin-top:1.5em;
	}
	.share a{
		pointer-events: all;
		margin: 0.3em;
		font-family: 'FontAwesome';
		text-decoration: none;
		font-size: 1.3em;
		color:#bdb5a7;
		-webkit-transition: color .25s;
		-moz-transition: color .25s;
		-ms-transition: color .25s;
		-o-transition: color .25s;
		transition: color .25s;
	}
	
	.fa {
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.fa-twitter:before {
		content: "\f099";
	}
	.fa-facebook:before {
		content: "\f09a";
	}

	.fa-audio-on:before {
		content: "\f027";
	}

	.fa-audio-off:before {
		content: "\f026";
	}

	
	#audiocheck {
		display: none;
		z-index:4;
		position: absolute;
		pointer-events: none;
	}

	#audiocheck a {
		color:#bdb5a7;
			font-size:3em;
		pointer-events: auto;		
	}


	@media (max-width: 600px) {
		#audiocheck a {
			font-size:2em;
		}
	}
	
	#audiobutton {
		text-decoration: none;
	}

	.share a:hover{
		color:#333;
	}

	#formcont.hidden {
		display: none;
	}
	



	
	


	.button {
		display: inline-block;


		-webkit-box-shadow:    0 4px 0 #7a0a17;
		-moz-box-shadow: 0 4px 0 #7a0a17;
		box-shadow: 0 4px 0 #7a0a17;

		-webkit-transition: -webkit-box-shadow .1s ease-in-out;
		-moz-transition: -moz-box-shadow .1s ease-in-out;
		-o-transition: -o-box-shadow .1s ease-in-out;
		transition: box-shadow .1s ease-in-out;

	}

	.button span {
		display: inline-block;
		padding:1em;
		border:none;
		margin:0;
		font-size:0.9em;
		font-family:  'f37_gingerbold';
		pointer-events:auto;
		background: #e42532;
		cursor:pointer;
		color: white;
		text-decoration: none;


		-webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
		-moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
		box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
		line-height: 1;
		text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);

		-webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
		-moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
		-o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
		transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	}

	.button:hover span {
		background-color: #e42532;
	}

	.button:active, .button:focus {
		/*-webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
		box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
	*/}

	.button:active span {
		-webkit-transform: translate(0, 4px);
		-moz-transform: translate(0, 4px);
		-o-transform: translate(0, 4px);
		transform: translate(0, 4px);
	}

	#debug {
		position: absolute;
		z-index:3;
	}
	
	#debug.hidden {
		display: none;
	}


	#fbshare {
		z-index:4;
	}